<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
     

</head>
<body>

<header id="header">
<img class="Logo" 
src="../static/Bilder/Whitelogo.svg" 
data-light="../static/Bilder/Whitelogo.svg"
data-dark="../static/Bilder/Blacklogo.svg"
alt="Logo">

<div class="rightnavbar">

<img src="../static/Bilder/whiteuser.svg" 
     data-light="../static/Bilder/whiteuser.svg"
     data-dark="../static/Bilder/blackuser.svg"
     alt=""> 

<img src="../static/Bilder/whitebag.svg"
     data-light="../static/Bilder/whitebag.svg"
     data-dark="../static/Bilder/blackbag.svg"
     alt="">

<div class="Menutext">
     <img src="../static/Bilder/whitemenu.svg"
     data-light="../static/Bilder/whitemenu.svg"
     data-dark="../static/Bilder/blackmenu.svg"
     alt="">
<p>Menu</p>
</div>

</div>
</header>


<div class="Herobackground">
    <div class="Herocontent">
        <h1>Discover 2025 Collection</h1>
        <div class="buttons">
        <button>FOR HERRE</button>
        <button>FOR DAMER</button>
        </div>
    </div>
</div>


<h1 class="Fourframestitle"> FOUR FRAMES OF STYLE</h1>

<section class="Fourframescontainer">


<div class="Cardwrapper">
    <div class="Fourframes-card">
        <img class="Image1" src="../static/Bilder/Untitled-1.png" alt="">
    </div>
    <div class="Cardtext"> Cream Fleece Puffer </div>
</div>


<div class="Cardwrapper">
     <div class="Fourframes-card">
            <img class="Image2" src="../static/Bilder/Beige_Chancehoodie.png" alt="">
    </div>
    <div class="Cardtext"> Cable Knit Sweater </div>
</div>


<div class="Cardwrapper">
     <div class="Fourframes-card">
            <img class="Image3" src="../static/Bilder/Gray_ChanceHoodie.png" alt="">
    </div>
    <div class="Cardtext"> Gray Knit Zip </div>
</div>


<div class="Cardwrapper">
     <div class="Fourframes-card">
            <img class="Image4" src="../static/Bilder/Untitled-2.png">
    </div> 
    <div class="Cardtext"> Goat Graphic Sweater </div>
</div>


</section>

<section class="Kampanjecontainer">
<div class="Venstrekampanje">
<img src="../static/Bilder/Gucci-apres-ski-2022-ad-campaign-the-impression-016-scaled.jpg" alt="">
</div>
<div class="HøyreKampanje">
<h1>DESIGNER WINTER <br> HOODIE DROP</h1>
<p>Crafted in small batches with <br> premium materials, this <br> winter drop gives comfort.</p>
<button>EXPLORE</button>
</div>
</section>


<section class="Essentials">
<div class="Essentialcardmen">
<div class="Genderbox">
    <div class="Gender">Herre</div>
</div>
<div class="EssentialText">
<h1>ESSENTIAL T-SHIRTS</h1>
<button>OPPDAG</button>
</div>
</div>
<div class="Essentialcardwomen">
<div class="Genderbox">
    <div class="Gender">Damer</div>
</div>
<div class="EssentialText">
<h1>ESSENTIAL T-SHIRTS</h1>
<button>OPPDAG</button>
</div>
</div>
</section>

<div class="space">

</div>







<script src="../static/style.js"></script>
</body>
</html>