<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header id="header">
      <img
        class="Logo"
        src="../static/Bilder/Whitelogo.svg"
        data-light="../static/Bilder/Whitelogo.svg"
        data-dark="../static/Bilder/Blacklogo.svg"
        alt="Logo"
      />

      <div class="rightnavbar">
        <img
          src="../static/Bilder/whiteuser.svg"
          data-light="../static/Bilder/whiteuser.svg"
          data-dark="../static/Bilder/blackuser.svg"
          alt=""
        />

        <img
          src="../static/Bilder/whitebag.svg"
          data-light="../static/Bilder/whitebag.svg"
          data-dark="../static/Bilder/blackbag.svg"
          alt=""
        />

        <div class="Menutext">
          <img
            src="../static/Bilder/whitemenu.svg"
            data-light="../static/Bilder/whitemenu.svg"
            data-dark="../static/Bilder/blackmenu.svg"
            alt=""
          />
          <p>Menu</p>
        </div>
      </div>
    </header>

    <div class="HerreHerobackground">
      <div class="Herocontent">
        <h1>Mens Clothing</h1>
        <p>
          Elevated men’s clothing crafted for confidence, versatility, and
          lasting comfort.
        </p>
      </div>
    </div>

    <h1 class="HerreTitle">MENS CLOTHING</h1>

    <section class="Fourframescontainer">
      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>

      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>

      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>

      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>
    </section>
    <section class="Fourframescontainer">
      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>
      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>
      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>
      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>
    </section>
        <section class="Fourframescontainer">
      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>

      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>

      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>

      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>
    </section>
    <section class="Fourframescontainer">
      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>
      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>
      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>
      <div class="Cardwrapper">
        <div class="Fourframes-card"></div>
      </div>
    </section>

    <script src="../static/style.js"></script>
  </body>
</html>
