body {
    top: 0;
    margin: 0;
    
}

header {
    position: fixed;
    width: 100%;
    align-items: center;
    display: flex;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0);
    justify-content: space-between;
}

header.scrolled {
    background: white;
    transition: background-color 0.5s ease;
}

header img {
    height: 1.3rem;
}

.rightnavbar {
    display: flex;
    align-items: center;
    gap: 50%;
    margin-right: 12%;
}

.Menutext {
    display: flex;
    align-items: center;
    gap: 20%;
}

.Menutext p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.85rem;
    color: white;
}

header.scrolled .Menutext p {
    color: black;
}

.Logo {
    height: 1rem;
    margin-left: 3%;
}

.Herobackground {
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: gray;
    height: 32.6rem;
    background-image: url(Bilder/Hero.png);
    background-size: cover;
}

.Herocontent {
    display: flex;
    flex-direction: column;
    align-items: ;
    margin-left: 2%;
    margin-bottom: 3%;
}

.Herocontent h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: white;
    margin: 0;
}

.Herocontent p {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}


.HerreHerobackground {
    display: flex;
    align-items: end;
    background-color: gray;
    height: 32.6rem;
    background-image: url(Bilder/HerreHero.png);
    background-size: cover;
}

.HerreTitle {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
    font-weight: 400;
}

.buttons {
    display: flex;
    margin-bottom: 5%;
    gap: 10%;
}

.buttons button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: white;
    height: 3rem;
    width: 7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
}

.Fourframestitle {
margin-top: 3%;
display: flex;
justify-content: center;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
}

.Fourframescontainer {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 3%;
    height: 24rem;
}

.Fourframes-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #F7F5F5  0%, #E7E7E7 100%);
    width: 17.5rem;
    height: 23rem;
    cursor: pointer;
}

.Image1 {
    height: 20rem;
    transition: height 0.4s ease;
}

.Image1:hover {
    height: 21rem;
}

.Image2 {
    height: 14rem;
    transition: height 0.4s ease;
}

.Image2:hover {
    height: 15rem;
}

.Image3 {
    height: 14rem;
    transition: height 0.4s ease;
}

.Image3:hover {
    height: 15rem;
}

.Image4 {
    height: 19rem;
    transition: height 0.4s ease;
}

.Image4:hover {
    height: 21rem;
}


.Cardwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Cardtext {
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}


.Kampanjecontainer {
    display: flex;
    justify-content: center;
    height: 30rem;
    margin-top: 5%;
}

.Venstrekampanje img {
    height: 30rem;
}

.HøyreKampanje {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    flex-direction: column;
}

.HøyreKampanje h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}

.HøyreKampanje p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.35rem;
}

.HøyreKampanje button {
    height: 3rem;
    width: 8rem;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-right: 38%;
    cursor: pointer;
}

.Essentials {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.Essentialcardmen {
    background-color: gray;
    height: 40rem;
    width: 35rem;
    background-image: url(Bilder/Rectangle\ 37\ \(1\).png);
    background-repeat: no-repeat;
    background-image: cover;
    background-image: center center;
}

.Essentialcardwomen {
    background-color: gray;
    height: 40rem;
    width: 35rem;
    background-image: url(Bilder/Rectangle\ 37\ \(1\).png);
    background-repeat: no-repeat;
    background-image: cover;
    background-image: center center;
}

.EssentialText {
    margin-top: 80%;
    margin-left: 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.EssentialText button {
    height: 3rem;
    width: 7rem;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.Genderbox {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.Gender {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 6rem;
    height: 2rem;
    background-color: #7D7D7D;
}

.space {
    margin-top: 25%;
}




